* text=auto

*.cs        text diff=csharp eol=lf
*.csproj    text eol=lf
*.props     text eol=lf
*.targets   text eol=lf
*.sln       text eol=crlf
*.json      text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
*.sh        text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
.editorconfig  text eol=lf
.husky/*       text eol=lf

*.snk binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pfx binary
*.nupkg binary
*.snupkg binary
